#hero-section {
  padding-top: 172px;
  padding-bottom: 231px;
  position: relative;
}

#hero-section .primary-btn {
  padding: 18px 28px;
  border-radius: 30px;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../assets/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.bg-overlay::after {
  background: linear-gradient(to right, #b70030cc, #ff5e8800);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0.7;
}

.hero-title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 900;
  color: var(--omni-white);
}

.hero-text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  color: var(--omni-white);
}

.hero-audio-container {
  padding: 45px;
  background-color: var(--omni-white);
  box-shadow: 0px 20px 60px 0px #ffb8ca57;
  position: relative;
  top: -116px;
}

.hero-audio {
  background-color: var(--omni-pink);
  border-radius: 6px;
}

.player-buttons {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: var(--omni-white);
}

.plaer-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: var(--omni-white);
}

.player-description {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  color: var(--omni-white);
}

.meet-host {
  background-color: var(--omni-pink-gray);
  padding: 50px 0;
}

.slider-arrows svg {
  height: 35px;
  width: 35px;
  color: #00000066;
}

.subscribe-follow {
  background-color: var(--omni-pink);
  padding: 50px 0;
}

.follow-card {
  background-color: var(--omni-white);
  padding: 60px 55px;
  border-radius: 20px;
}

.follow-card img {
  margin: 0 auto;
}

.subscribe-follow .section-top,
.subscribe-follow .section-title {
  color: var(--omni-white);
}

.testimonial {
  padding: 100px 0;
}

.testimonials {
  position: relative;
}

.testimonials .swiper-pagination {
  margin-top: 25px !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--omni-pink);
}
