/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
/* Tailwind Css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  --omni-yellow: #fe8a60;
  --omni-pink: #ff2d64;
  --omni-gray: #2b0051;
  --omni-black: #18002d;
  --omni-dark: #000000;
  --omni-white: #ffffff;
  --omni-pink-gray: #fff8f8;
}
body {
  font-family: "Lexend Deca", sans-serif;
  color: var(--gray-dark);
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.common-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-title {
  font-size: 42px;
  line-height: 52.5px;
  font-weight: 700;
  color: var(--omni-dark);
}

.primary-btn {
  background-color: var(--omni-pink);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  color: var(--omni-white);
  padding: 8px 20px;
  border-radius: 20px;
  display: inline-block;
}

.swiper-pagination,
.swiper {
  position: static !important;
}
